<h1>Sightings</h1>

<%= form_tag('/report', method: 'get') do %>
  <%= label_tag(:start_date, 'Start date') %>
  <%= date_field_tag :start_date %>
  <%= label_tag(:end_date, 'End date') %>
  <%= date_field_tag :end_date %>
  <br>
  <%= label_tag(:region, 'Region') %>
  <%= select_tag :region %>
  <p><%= submit_tag('Generate Report') %></p>
<% end %>

<ul>
  <% @sightings.each do |sighting| %>
    <li>
      Species: <%= sighting.species.name %>
      <% if sighting.region != nil %>
      <br>Region: <%= sighting.region.name %>
      <% else %>
      <br>Region: --
      <% end %>
      <br>Date: <%= sighting.date %> <br>( Lat: <%= sighting.latitude %> Long: <%= sighting.longitude %> ) |
      <br><%= link_to "Edit", edit_species_sighting_path(sighting.species, sighting) %>
      <br><%= link_to "Delete", species_sighting_path(sighting.species, sighting),
                            data: { confirm: "Are you sure?",
                                    method: "delete" }%>
    </li>
  <% end %>
</ul>

<hr>
