<h1><%= @region.name %></h1>

<% if @region.sightings.any? %>
  <h4>Here are the sightings for this region:</h4>

  <ul>
    <% @region.sightings.each do |sighting| %>
      <li>
        <%= sighting.species.name %> on <%= sighting.date %> ( Lat: <%= sighting.latitude %> Long: <%= sighting.longitude %> ) |
        <%= link_to "Edit", edit_species_sighting_path(sighting.species, sighting) %>
        <%= link_to "Delete", species_sighting_path(sighting.species, sighting),
                              data: { confirm: "Are you sure?",
                                      method: "delete" }%>
      </li>
    <% end %>
  </ul>
<% end %>

<p>
  <%= link_to 'Edit', edit_region_path(@region) %>
</p>
<p>
  <%= link_to 'Back to regions', regions_path %>
</p>
